<body>
    
    <form navigationTitle="Settings">
        <section>
            <navigationlink destination="webSendPush">Send Push</navigationlink>
        </section>
        
        <section footer="Access only for Kumove">
            <text badge="1.0 beta">Version</text>

        </section>

    </form>
    
    <webview id="webSendPush">url:https://magic-ui.com/KumWidgets/PushNotifications/index.php?simpleMode=1</webview>
    
</body>
